.register_form{
  width: auto;
  height: auto;
} 
.input_box{
  border-radius: 50%;
  width: auto;
  height: 55px;
}
.form_error_class{
  color: rgb(243, 73, 73);
  text-size-adjust: 7px;
}

#root {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
 
  

}
body {

  margin: 0 auto;
  padding: 0 rem;
  background-color: #ffffff;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-weight: 200;
  text-align: center;
 
  
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1.1em;
  font-weight: 100;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  background-color: #f34a4a;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;

}

/*addition*/
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.container {
  

  max-height: max-content;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.main_img {
  width: auto;
  height: 512px;
}
.check_img {
  width: auto;
  height: 210px;
}

.random_movie_div {
  text-align: center;
  font-size: small;
  width: 400px;
  height: auto;
  margin: 50px;
}

.info_about_movie_div {
  font-size: small;
  width: 400px;
  height: auto;
  margin: 50px;
}
.home_main_selection_section {
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  justify-items: center;
  width: auto;
  height: auto;
  margin: 40px;
}
.home_welcom_section {
  background-color: greenyellow;
  height: 40px;
  margin: 25px;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.user_greetings {
  color: rgb(0, 0, 0);
  font-size: medium;
  margin: 10px;
  
}
.user_name {
  color: #ff0000;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}
.media_info_section {
  text-align: center;
  font-size: medium;
  width: 400px;
  height: auto;
  margin: 50px;
  background-color: #f7f7f7;
}
.requested_media_div {
  text-align: left;
  font-size: small;
  width: auto;
  height: auto;
  margin: 50px;
}
.data_enty_div {
  margin: 10px;
}
.movie_info_btn {
  margin: 10px;
}
.movie_infos_result{
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;

}
.container_movie_info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.movie_not_found {
  color: red;
  margin: 8px;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}
.omdb_res_txt {
  margin: 7px;
  color: rgb(0, 0, 0);
  background-color: greenyellow;
}
.plot_text {
  font-size: small;
  color: red;
  margin: 4px;
  width: 500px;
}

.movie_text_holder {
  margin: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  background-color: greenyellow;
  width: 660px;
}
.home_quationaire_movie_div {
  text-align: center;
  font-size: small;
  width: 400px;
  height: auto;
  margin: 50px;
}
.res_data_text{
  background-color: rgb(233, 250, 206);
  margin: 4px;
}
.key_h {
  font-size: medium;
  text-align: left;
  margin: 4px;

}
.value_h {
  font-size: small;
  margin: 4px;
}

.rating_key_h {
    font-size: small;
    margin: 4px;
    margin-left: 60px;
}
.rendom_movies_first_section {
  color: #000000;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: medium;
  width: 700px;
}
.random_movies_result_holder_section {
  margin: 4px;
  display: flex;
}
.random_movie_title {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: small;
  color: #ff1e00;
}

.div_random_movie_element {
  margin: 20px;
}
.random_movies_result_holer_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.random_headline_notice {
  background-color: greenyellow;
  border-radius: 4px;
  margin: 4px;
  height: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.random_head_line_notice_2 {
  background-color: greenyellow;
  border-radius: 4px;
  margin: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.notice_2_text {
  margin: 4px;
}


.quationaire_div_form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 820px;
  background-color: #f7f7f7;
  border-radius: 4px;
  
}
.quation_holder {
  margin: 20px;
  text-align: left;
}
.quationaire_btn {
  margin: 10px;
  text-align: center;
}
.quationaire_input_fields {
  margin: 4px;
}
.random_movie_title_green {
  font-size: small;
  color: green;
}
.quation_text {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: small;
}
.comma_warnings_div {
  margin: 4px;
  background-color: #d5ff2b;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.comma_warning_text{
  font-size: small;
  color: rgb(255 0 0);
  margin: 6px;
}
.quationaire_result_error {
  font-size: small;
  font: bold;
  color: red;
  margin: 6px;
}
.rec_section_holder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
}
.quationaire_result_elem_div {
  margin: 10px;
  font-size: small;
  color: red;
  width: 350px;
}
.rec_form_section {
  align-self: center;
}
.rec_result_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.rec_movies_holder_div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.landing_main_container { 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  
}
.hero_first {
  /*width: 50%;*/

}
.hero_sec {
  /*width: 50%;*/
}
.movies_collection_img {
  width: 800px;
  height: 100%;
  margin: 4px;
}
.intro_section {
  background-color: rgb(255, 255, 255);
    color: #202124;
    height: 670px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin: 2px;
  
}
.second_section {
  background-color: white;
  color: #202124;
  height: 670px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  align-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  /* margin: 2px;*/
}
.sec_section_hero_1 {
  width: 50%;
  margin: 4px;
}
.sec_section_hero_2 {
  width: 50%;
  margin: 4px;
}

.third_section {
  background-color: white;
  color: #202124;
  height: 670px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.third_section_hero_1{
  width: 50%;
  margin: 4px;
}
.third_section_hero_2{
  width: 50%;
  margin: 4px;
}


.fourth_section {
  background-color: white;
  color: #202124;
  height: 670px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  align-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
 
}
.forth_section_hero_1 {
  width: 50%;
  margin: 4px;
}
.forth_section_hero_2 {
  width: 50%;
  margin: 4px;
}

h4 {
  font-size: medium;
  font-weight: normal;
}
.reset_password {
  font-size: small;
  color: #ff1e00;
  margin: 10px;
}
.movies_pub_data_img {
  width: 500px;
  height: auto;
  margin: 4px;
}
.movie_finder_img {
  margin: 4px;
}
.random_movie_jpg {
  margin: 4px;
}
.about_main_section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 1050px;
}
.initial_about {
  text-align: center;
}
.second_about {
  text-align: left;
}
.octacat_class {
  width: 35px;
  margin: 4px;
  margin-bottom: -5px;
}
.linked_in_class {
  width: 35px;
  margin: 4px;
  margin-bottom: -6px;
}
.twitter {
  width: 35px;
  margin: 4px;
  margin-bottom: -6px;
}
.third_about {
  /*text-align: center;*/
  margin: 0px;
  background-color: #f1f1f1;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.h_last_about{
  margin: 6px;
}
.guest_proceed_main_alert {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.guest_proceed_div {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.register_main_section {
  margin: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.login_main_section {
  margin: 50px;
}
.password_reset_notice {
  font-size: medium;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  margin: 10px;
}
.password_reset_proceed {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.password_reset_success {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.page_not_found {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.error_img_holder {
  width: 900px;
}